*{
    background-color: rgb(234, 237, 238);
   }
h1 {
    text-align:left;
    font-size: 25px;
}

.rounded{
    width: 100px;
    margin: auto;
    border: 25%;
    color: aqua;
}

.rounded img{
    border-radius: 50%
}