body {
    background-color: rgba(219, 216, 216,0.8);
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

#header {
    background-color: aqua;
    color: white;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}
#content {
    padding: 10px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#img{position:absolute;margin:1em 0;
         top:8px;left:16px;float:left
}

#footer {
    float: none;
    text-align: center;
    background-color:rgb(219, 212, 212);

}

